/**
 * GLOBAL CSS
 * ------------------------------------------------------------------------- */
/* Variables */
:root {
  --white: #ffffff;
  --green: #1abc9c;
  --dark-green: #138b73;
  --light-gray: #f3f3f3;
  --medium-gray: #b2afaf;
  --dark-gray: #181818;
  --black: #000000;
}

body {
  color: var(--dark-gray);
  font-family: 'Lato', sans-serif;
  font-size: clamp(16px, 1vw, 18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h1 {
  font-size: clamp(32px, 4vw, 72px);
}

h2 {
  font-size: clamp(28px, 2vw, 32px);
}

h3 {
  font-size: clamp(18px, 2vw, 28px);
}

h4 {
  font-size: clamp(20px, 2vw, 22px);
}

img {
  width: 100%;
  height: auto;
}

.custom-btn {
  background-color: var(--green);
  font-size: clamp(14px, 1vw, 16px);
  text-transform: uppercase;
  color: var(--white);
}

.custom-btn:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

/**
 * HEADER SECTION
 * ------------------------------------------------------------------------- */
header {
  background-color: var(--black);
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}

/* Logo */
.logo {
  padding-top: 0;
  padding-bottom: 0;
}

.logo img {
  transform: rotate(8deg);
}

.logo,
.logo img {
  width: 32px;
  height: auto;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: clamp(13px, 1vw, 14px);
  color: var(--light-gray);
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--green);
}

.navbar-dark .navbar-toggler {
  color: var(--light-gray);
  border-color: transparent;
  outline: none;
}

/**
 * HERO SECTION
 * ------------------------------------------------------------------------- */
.hero {
  background-color: var(--black);
  margin-bottom: 0;
  color: var(--white);
  padding: 3.5rem 1rem;
}

.hero h1 {
  padding-top: 40px;
}

/* Hero - Index page */
.hero-text {
  align-items: center;
}

.hero-leaves {
  background: url('../images/leaves.png');
  position: relative;
  width: 100px;
  height: 190px;
  left: 40px;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(45deg);
  display: none;
  z-index: 1;
}

.dotted-bg:after {
  content: '';
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 10%;
  width: 80%;
  height: 80%;
  transform: translateY(-50%);
  background: url(../images/dot-grid.svg);
  z-index: 0;
}

.hero .lead {
  margin: 1.25rem 0;
  text-align: center;
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 400;
  z-index: 1;
}

.hero a {
  background-color: var(--green);
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: clamp(14px, 1vw, 16px);
  z-index: 1;
}

.hero a:hover {
  background-color: var(--dark-green);
  color: var(--dark-gray);
}

.hero-img {
  margin-top: 2.5rem;
}

/* Hero - Results page */
.hero-results {
  position: relative;
  overflow: hidden;
}

.hero-results .container {
  position: relative;
  padding: 2.5rem 0;
  z-index: 2;
}

.hero-results h1 {
  font-size: clamp(20px, 4vw, 48px);
}

.hero-results .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hero-results img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 360px;
}

/**
 * INSPIRE ME SECTION
 * ------------------------------------------------------------------------- */
.title-content {
  padding-bottom: 1.5rem;
}

.inspire-me {
  padding: 6rem 1rem;
}

.inspire-text {
  padding-bottom: 1.5rem;
}

.inspire-me .inspire-img {
  order: 1;
  justify-content: center;
}

.inspire-me img {
  transform: rotate(56deg);
  width: 70%;
}

.inspire-me form {
  order: 0;
}

.inspire-me h2 {
  margin-bottom: 2rem;
}

.search-alert {
  display: none;
}

/**
 * TRENDING RECIPE SECTION
 * ------------------------------------------------------------------------- */
.recipe-trending {
  padding: 6rem 1rem;
}

.recipe-trending h2 {
  margin-bottom: 2rem;
}

.recipe-name {
  padding: 2rem;
  border: 1px solid var(--medium-gray);
}

.card-category {
  text-transform: uppercase;
}

.recipe-trending .trending-img {
  justify-content: center;
}

.recipe-trending img {
  width: 60%;
  border-radius: 50%;
}

/* Trending page */
#trendingInfo {
  white-space: pre-line;
}

#trendingVideoYou {
  display: none;
}

/**
 * RANDOM MEAL SECTION
 * ------------------------------------------------------------------------- */
.hero-results i,
#category {
  color: var(--medium-gray);
}

.random-meal {
  padding: 3rem 1rem 0 1rem;
}

.random-meal .card {
  position: relative;
  top: -6.25rem;
  z-index: 1;
}

#info {
  white-space: pre-line;
}

#videoYou {
  display: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1.875rem;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.random-meal h4 {
  text-align: center;
}

/**
 * CONTACT SECTION
 * ------------------------------------------------------------------------- */
.contact {
  padding: 6rem 1rem;
}

.contact-social {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.contact-social a {
  border-radius: 3px;
  border: 1px solid var(--green);
  padding: 10px;
  color: var(--green);
}

.contact-social a:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

.contact-social i {
  font-size: 24px;
  line-height: 24px;
}

/**
 * DRINKS SECTION
 * ------------------------------------------------------------------------- */
.cocktail-content {
  position: relative;
}

#cocktailImg {
  border-radius: 3px;
  width: 100%;
}

#cocktailName {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--dark-gray);
  padding: 16px 0;
  margin-bottom: 0;
  text-align: center;
  color: var(--white);
  font-weight: 700;
}

/**
 * MEAL SUGGESTIONS SECTION
 * ------------------------------------------------------------------------- */
.meal-suggestions {
  /* padding: 0 1rem 8rem 1rem; */
  padding: 0 1rem 6rem 1rem;
}
.meal-suggestions .card {
  border: 0;
  background: transparent;
  border-radius: 0;
  padding: 20px 10px;
}

.meal-suggestions .card-content {
  border-left: 1px solid var(--light-gray);
}

.card-text i {
  color: var(--medium-gray);
}

.meal-suggestions h3 {
  text-align: center;
}

.meal-suggestions a {
  color: var(--green);
}

.meal-suggestions a:hover {
  color: var(--dark-green);
}

/**
 * FOOTER SECTION
 * ------------------------------------------------------------------------- */
.footer {
  background: var(--dark-gray);
  padding: 6rem 0;
  font-size: 14px;
  text-align: center;
  color: var(--light-gray);
}

/**
 * MEDIA QUERIES
 * ------------------------------------------------------------------------- */
@media (min-width: 768px) {
  /* Logo */
  .logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }

  .logo,
  .logo img {
    width: 40px;
  }

  /* Sections */
  .inspire-me,
  .recipe-week,
  .contact {
    padding: 8rem 1rem;
  }

  /* Random meal section */
  .random-meal {
    padding: 0 1rem;
  }
}

@media (min-width: 992px) {
  /* Hero - Index */
  .hero-text {
    align-items: flex-start;
  }

  .hero-leaves {
    display: block;
  }

  .hero h1 {
    padding-top: 0;
  }

  .dotted-bg:after {
    top: 50%;
    left: 0;
    width: 50%;
    height: 40%;
  }

  .hero .lead {
    padding-right: 5rem;
    margin: 2.5rem 0;
    text-align: left;
  }

  /* Hero - Results */
  .hero-results {
    position: relative;
    overflow: hidden;
    height: 600px;
  }

  .hero-results .container {
    padding: 4.125rem 0;
  }

  /* Inspire */
  .inspire-me img {
    transform: rotate(180deg);
    width: 80%;
  }

  .inspire-me .inspire-img {
    order: 0;
    justify-content: flex-start;
  }

  .inspire-me form {
    order: 1;
  }

  /* Trending */
  .recipe-name {
    padding: 4rem;
  }

  .recipe-trending .trending-img {
    justify-content: end;
  }

  /* Contact */
  .contact-social {
    margin-top: 3rem;
  }

  /* Random meal */
  .random-meal h4 {
    text-align: left;
  }

  /* Meal suggestions */
  .meal-suggestions {
    padding: 0 1rem 8rem 1rem;
  }

  .meal-suggestions h3 {
    text-align: left;
  }
}

@media (min-width: 1480px) {
  /* Container */
  .container {
    max-width: 1400px;
  }
}
